[submodule "dotbot"]
	path = dotbot
	url = https://github.com/anishathalye/dotbot
	ignore = dirty
[submodule "bash/oh-my-bash"]
	path = bash/oh-my-bash
	url = https://github.com/ohmybash/oh-my-bash.git
